<div class="register">
  <form class="custom-form" method="post">
    <h1>Registrarse</h1>
    <input
      type="email"
      name="email"
      placeholder="Email"
      required="required"
    />
    <input
      type="password"
      name="password"
      placeholder="Password"
      required="required"
    />
    <input
      type="password"
      name="password"
      placeholder="Repetir password"
      required="required"
    />
    <button type="submit" (click)="register()">Registrarse</button>
    
  </form>
</div>