<form class="alert alert-dismissible alert-light" action="">
  <div>
    <h5>Usuario</h5>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="inlineRadio1" value="0" [(ngModel)]="comment.tipo" name="inlineRadioOptions">
    <label class="form-check-label" for="inlineRadio1">Curso</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="inlineRadio2" value="1" [(ngModel)]="comment.tipo"  name="inlineRadioOptions">
    <label class="form-check-label" for="inlineRadio2">Catedrático</label>
  </div>
  <div class="form-floating mb-3">
    <input type="cuOca" class="form-control" id="floatingInput" placeholder="Curso o Catedrático" [(ngModel)]="comment.cuOca" name="cursoOcate">
    <label for="floatingInput">Curso o Catedrático</label>
  </div>
  <div class="form-floating">
    <textarea class="form-control" placeholder="Comentario" id="floatingTextarea" style="height: 100px" [(ngModel)]="comment.mensaje" name="msj"></textarea>
    <label for="floatingTextarea2">Comentario</label>
  </div>
  <button class="btn btn-primary" (click)="commentp ? saveNewCommentP() : saveNewComment()">Comentar
  </button>
</form>
