<form class="alert alert-dismissible alert-light" action="">
    <div class="form-floating mb-3">
      <input type="curso" class="form-control" id="floatingInput" placeholder="Curso aprobado" [(ngModel)]="curso.curso" name="cursoAprob">
      <label for="floatingInput">Curso aprobado</label>
    </div>
    <div class="form-floating mb-3">
        <input type="cred" class="form-control" id="floatingInput" placeholder="Creditos" [(ngModel)]="curso.creditos" name="cred">
        <label for="floatingInput">Créditos</label>
      </div>
    <button class="btn btn-primary" (click)="saveNewCurso()">Agregar</button>
  </form>