 <div class="login-container">
    <div class="login-form">
        <div class="login-form-content">
            <h1>Bienvenido </h1>
            <p>Gracias por volver a tu sitio de confianza</p>
            <div class="login-form-input">
                <label>Email:</label>
                <input type="email" placeholder="Email">
            </div>
            <div class="login-form-content">
                <label>Contraseña:</label>
                <input type="contraseña" placeholder="Contraseña">
            </div>
        </div>
        <div class="login-form-footer">
            <div class="login-form-footer-link">
                <a href="#">Acerca de nosotros</a>
            </div>
        </div>
    </div>
</div>


